body {
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
   }
   
   header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
   }
   
   header h1 {
    display: inline;
    margin-right: 20px;
    color: black;
   }

   header h1 a:hover{
    color: rgb(103, 167, 209);
   }

   nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
   }
   
   nav ul li {
    display: inline;
    margin-right: 10px;
   }
   
   nav ul li a {
    text-decoration: none;
    color: black;
   }
   
   nav ul li a:hover {
    color: #4caf50;
   }
   
   main {
    padding: 20px;
   }
   
   article {
    text-align: center;
    margin-bottom: 20px;
   }
   
   article img {
    max-width: 100%;
    height: auto;
   }
   
   footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
   }
   
   /* Style for the flex container */
   .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   
   /* Style for the grid container */
   .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
   }
   .contact-page{
    text-align: center;
   }
   .logo{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

   }